<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.jfBuilder.dao.EstBanGroupMapper" >
  <resultMap id="BaseResultMap" type="com.adtec.entity.EstBanGroup" >
    <result column="group_id" property="groupId" jdbcType="CHAR" />
    <result column="past_group_id" property="pastGroupId" jdbcType="CHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.adtec.entity.EstBanGroup" >
    insert into est_ban_group (group_id, past_group_id)
    values (#{groupId,jdbcType=CHAR}, #{pastGroupId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.adtec.entity.EstBanGroup" >
    insert into est_ban_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="pastGroupId != null" >
        past_group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=CHAR},
      </if>
      <if test="pastGroupId != null" >
        #{pastGroupId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>