<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.jfBuilder.dao.EstBeanMapper" >
  <resultMap id="BaseResultMap" type="com.adtec.entity.EstBean" >
    <id column="bean_id" property="beanId" jdbcType="CHAR" />
    <result column="project_id" property="projectId" jdbcType="CHAR" />
    <result column="relation_id" property="relationId" jdbcType="CHAR" />
    <result column="class_id" property="classId" jdbcType="VARCHAR" />
    <result column="bean_name" property="beanName" jdbcType="CHAR" />
    <result column="bean_desc" property="beanDesc" jdbcType="VARCHAR" />
    <result column="parent_bean" property="parentBean" jdbcType="CHAR" />
    <result column="init_method_name" property="initMethodName" jdbcType="CHAR" />
    <result column="destroy_method_name" property="destroyMethodName" jdbcType="CHAR" />
    <result column="scope" property="scope" jdbcType="CHAR" />
    <result column="resource_id" property="resourceId" jdbcType="CHAR" />
    <result column="grp_id" property="grpId" jdbcType="CHAR" />
    <result column="crt_user" property="crtUser" jdbcType="CHAR" />
    <result column="crt_date_time" property="crtDateTime" jdbcType="CHAR" />
    <result column="lst_mod_user" property="lstModUser" jdbcType="CHAR" />
    <result column="lst_mod_date_time" property="lstModDateTime" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    bean_id, project_id, relation_id, class_id, bean_name, bean_desc, parent_bean, init_method_name, 
    destroy_method_name, scope, resource_id, grp_id, crt_user, crt_date_time, lst_mod_user, 
    lst_mod_date_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from est_bean
    where bean_id = #{beanId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from est_bean
    where bean_id = #{beanId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.adtec.entity.EstBean" >
    insert into est_bean (bean_id, project_id, relation_id, 
      class_id, bean_name, bean_desc, 
      parent_bean, init_method_name, destroy_method_name, 
      scope, resource_id, grp_id, crt_user, 
      crt_date_time, lst_mod_user, lst_mod_date_time
      )
    values (#{beanId,jdbcType=CHAR}, #{projectId,jdbcType=CHAR}, #{relationId,jdbcType=CHAR}, 
      #{classId,jdbcType=VARCHAR}, #{beanName,jdbcType=CHAR}, #{beanDesc,jdbcType=VARCHAR}, 
      #{parentBean,jdbcType=CHAR}, #{initMethodName,jdbcType=CHAR}, #{destroyMethodName,jdbcType=CHAR}, 
      #{scope,jdbcType=CHAR}, #{resourceId,jdbcType=CHAR}, #{grpId,jdbcType=CHAR}, #{crtUser,jdbcType=CHAR}, 
      #{crtDateTime,jdbcType=CHAR}, #{lstModUser,jdbcType=CHAR}, #{lstModDateTime,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.adtec.entity.EstBean" >
    insert into est_bean
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="beanId != null" >
        bean_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="relationId != null" >
        relation_id,
      </if>
      <if test="classId != null" >
        class_id,
      </if>
      <if test="beanName != null" >
        bean_name,
      </if>
      <if test="beanDesc != null" >
        bean_desc,
      </if>
      <if test="parentBean != null" >
        parent_bean,
      </if>
      <if test="initMethodName != null" >
        init_method_name,
      </if>
      <if test="destroyMethodName != null" >
        destroy_method_name,
      </if>
      <if test="scope != null" >
        scope,
      </if>
      <if test="resourceId != null" >
        resource_id,
      </if>
      <if test="grpId != null" >
        grp_id,
      </if>
      <if test="crtUser != null" >
        crt_user,
      </if>
      <if test="crtDateTime != null" >
        crt_date_time,
      </if>
      <if test="lstModUser != null" >
        lst_mod_user,
      </if>
      <if test="lstModDateTime != null" >
        lst_mod_date_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="beanId != null" >
        #{beanId,jdbcType=CHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=CHAR},
      </if>
      <if test="relationId != null" >
        #{relationId,jdbcType=CHAR},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="beanName != null" >
        #{beanName,jdbcType=CHAR},
      </if>
      <if test="beanDesc != null" >
        #{beanDesc,jdbcType=VARCHAR},
      </if>
      <if test="parentBean != null" >
        #{parentBean,jdbcType=CHAR},
      </if>
      <if test="initMethodName != null" >
        #{initMethodName,jdbcType=CHAR},
      </if>
      <if test="destroyMethodName != null" >
        #{destroyMethodName,jdbcType=CHAR},
      </if>
      <if test="scope != null" >
        #{scope,jdbcType=CHAR},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=CHAR},
      </if>
      <if test="grpId != null" >
        #{grpId,jdbcType=CHAR},
      </if>
      <if test="crtUser != null" >
        #{crtUser,jdbcType=CHAR},
      </if>
      <if test="crtDateTime != null" >
        #{crtDateTime,jdbcType=CHAR},
      </if>
      <if test="lstModUser != null" >
        #{lstModUser,jdbcType=CHAR},
      </if>
      <if test="lstModDateTime != null" >
        #{lstModDateTime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adtec.entity.EstBean" >
    update est_bean
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=CHAR},
      </if>
      <if test="relationId != null" >
        relation_id = #{relationId,jdbcType=CHAR},
      </if>
      <if test="classId != null" >
        class_id = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="beanName != null" >
        bean_name = #{beanName,jdbcType=CHAR},
      </if>
      <if test="beanDesc != null" >
        bean_desc = #{beanDesc,jdbcType=VARCHAR},
      </if>
      <if test="parentBean != null" >
        parent_bean = #{parentBean,jdbcType=CHAR},
      </if>
      <if test="initMethodName != null" >
        init_method_name = #{initMethodName,jdbcType=CHAR},
      </if>
      <if test="destroyMethodName != null" >
        destroy_method_name = #{destroyMethodName,jdbcType=CHAR},
      </if>
      <if test="scope != null" >
        scope = #{scope,jdbcType=CHAR},
      </if>
      <if test="resourceId != null" >
        resource_id = #{resourceId,jdbcType=CHAR},
      </if>
      <if test="grpId != null" >
        grp_id = #{grpId,jdbcType=CHAR},
      </if>
      <if test="crtUser != null" >
        crt_user = #{crtUser,jdbcType=CHAR},
      </if>
      <if test="crtDateTime != null" >
        crt_date_time = #{crtDateTime,jdbcType=CHAR},
      </if>
      <if test="lstModUser != null" >
        lst_mod_user = #{lstModUser,jdbcType=CHAR},
      </if>
      <if test="lstModDateTime != null" >
        lst_mod_date_time = #{lstModDateTime,jdbcType=CHAR},
      </if>
    </set>
    where bean_id = #{beanId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adtec.entity.EstBean" >
    update est_bean
    set project_id = #{projectId,jdbcType=CHAR},
      relation_id = #{relationId,jdbcType=CHAR},
      class_id = #{classId,jdbcType=VARCHAR},
      bean_name = #{beanName,jdbcType=CHAR},
      bean_desc = #{beanDesc,jdbcType=VARCHAR},
      parent_bean = #{parentBean,jdbcType=CHAR},
      init_method_name = #{initMethodName,jdbcType=CHAR},
      destroy_method_name = #{destroyMethodName,jdbcType=CHAR},
      scope = #{scope,jdbcType=CHAR},
      resource_id = #{resourceId,jdbcType=CHAR},
      grp_id = #{grpId,jdbcType=CHAR},
      crt_user = #{crtUser,jdbcType=CHAR},
      crt_date_time = #{crtDateTime,jdbcType=CHAR},
      lst_mod_user = #{lstModUser,jdbcType=CHAR},
      lst_mod_date_time = #{lstModDateTime,jdbcType=CHAR}
    where bean_id = #{beanId,jdbcType=CHAR}
  </update>
</mapper>