<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.jfBuilder.dao.EstDockerMngMapper" >
  <resultMap id="BaseResultMap" type="com.adtec.entity.EstDockerMng" >
    <id column="project_id" property="projectId" jdbcType="CHAR" />
    <id column="addr_name" property="addrName" jdbcType="CHAR" />
    <result column="ip_addr" property="ipAddr" jdbcType="VARCHAR" />
    <result column="ip_port" property="ipPort" jdbcType="VARCHAR" />
    <result column="tenant_name" property="tenantName" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    project_id, addr_name, ip_addr, ip_port, tenant_name, user_name, user_pwd
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.adtec.entity.EstDockerMngKey" >
    select 
    <include refid="Base_Column_List" />
    from est_docker_mng
    where project_id = #{projectId,jdbcType=CHAR}
      and addr_name = #{addrName,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.adtec.entity.EstDockerMngKey" >
    delete from est_docker_mng
    where project_id = #{projectId,jdbcType=CHAR}
      and addr_name = #{addrName,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.adtec.entity.EstDockerMng" >
    insert into est_docker_mng (project_id, addr_name, ip_addr, 
      ip_port, tenant_name, user_name, 
      user_pwd)
    values (#{projectId,jdbcType=CHAR}, #{addrName,jdbcType=CHAR}, #{ipAddr,jdbcType=VARCHAR}, 
      #{ipPort,jdbcType=VARCHAR}, #{tenantName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.adtec.entity.EstDockerMng" >
    insert into est_docker_mng
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="addrName != null" >
        addr_name,
      </if>
      <if test="ipAddr != null" >
        ip_addr,
      </if>
      <if test="ipPort != null" >
        ip_port,
      </if>
      <if test="tenantName != null" >
        tenant_name,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPwd != null" >
        user_pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=CHAR},
      </if>
      <if test="addrName != null" >
        #{addrName,jdbcType=CHAR},
      </if>
      <if test="ipAddr != null" >
        #{ipAddr,jdbcType=VARCHAR},
      </if>
      <if test="ipPort != null" >
        #{ipPort,jdbcType=VARCHAR},
      </if>
      <if test="tenantName != null" >
        #{tenantName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adtec.entity.EstDockerMng" >
    update est_docker_mng
    <set >
      <if test="ipAddr != null" >
        ip_addr = #{ipAddr,jdbcType=VARCHAR},
      </if>
      <if test="ipPort != null" >
        ip_port = #{ipPort,jdbcType=VARCHAR},
      </if>
      <if test="tenantName != null" >
        tenant_name = #{tenantName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
    </set>
    where project_id = #{projectId,jdbcType=CHAR}
      and addr_name = #{addrName,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adtec.entity.EstDockerMng" >
    update est_docker_mng
    set ip_addr = #{ipAddr,jdbcType=VARCHAR},
      ip_port = #{ipPort,jdbcType=VARCHAR},
      tenant_name = #{tenantName,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR}
    where project_id = #{projectId,jdbcType=CHAR}
      and addr_name = #{addrName,jdbcType=CHAR}
  </update>
</mapper>