<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.jfBuilder.dao.EstDatasrcMngMapper" >
  <resultMap id="BaseResultMap" type="com.adtec.entity.EstDatasrcMng" >
    <id column="datasrc_mng_id" property="datasrcMngId" jdbcType="CHAR" />
    <result column="project_id" property="projectId" jdbcType="CHAR" />
    <result column="env_id" property="envId" jdbcType="CHAR" />
    <result column="datasrc_mng_name" property="datasrcMngName" jdbcType="VARCHAR" />
    <result column="datasrc_mng_desc" property="datasrcMngDesc" jdbcType="VARCHAR" />
    <result column="db_flag" property="dbFlag" jdbcType="CHAR" />
    <result column="getsvr_flag" property="getsvrFlag" jdbcType="CHAR" />
    <result column="datasrc_mng_type" property="datasrcMngType" jdbcType="CHAR" />
    <result column="db_type" property="dbType" jdbcType="CHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="auto_flag" property="autoFlag" jdbcType="CHAR" />
    <result column="max_active" property="maxActive" jdbcType="INTEGER" />
    <result column="max_idle" property="maxIdle" jdbcType="INTEGER" />
    <result column="max_wait" property="maxWait" jdbcType="INTEGER" />
    <result column="acquire_increment" property="acquireIncrement" jdbcType="INTEGER" />
    <result column="initial_pool_size" property="initialPoolSize" jdbcType="INTEGER" />
    <result column="max_pool_size" property="maxPoolSize" jdbcType="INTEGER" />
    <result column="checkout_timeout" property="checkoutTimeout" jdbcType="INTEGER" />
    <result column="jndi_name" property="jndiName" jdbcType="VARCHAR" />
    <result column="driver_class" property="driverClass" jdbcType="VARCHAR" />
    <result column="ip_addr" property="ipAddr" jdbcType="VARCHAR" />
    <result column="ip_port" property="ipPort" jdbcType="VARCHAR" />
    <result column="auth" property="auth" jdbcType="VARCHAR" />
    <result column="validation_query" property="validationQuery" jdbcType="VARCHAR" />
    <result column="test_while_idle" property="testWhileIdle" jdbcType="CHAR" />
    <result column="test_period" property="testPeriod" jdbcType="INTEGER" />
    <result column="cloud_project_id" property="cloudProjectId" jdbcType="CHAR" />
    <result column="getsvr_expr" property="getsvrExpr" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    datasrc_mng_id, project_id, env_id, datasrc_mng_name, datasrc_mng_desc, db_flag, 
    getsvr_flag, datasrc_mng_type, db_type, url, user_name, password, auto_flag, max_active, 
    max_idle, max_wait, acquire_increment, initial_pool_size, max_pool_size, checkout_timeout, 
    jndi_name, driver_class, ip_addr, ip_port, auth, validation_query, test_while_idle, 
    test_period, cloud_project_id, getsvr_expr
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from est_datasrc_mng
    where datasrc_mng_id = #{datasrcMngId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from est_datasrc_mng
    where datasrc_mng_id = #{datasrcMngId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.adtec.entity.EstDatasrcMng" >
    insert into est_datasrc_mng (datasrc_mng_id, project_id, env_id, 
      datasrc_mng_name, datasrc_mng_desc, db_flag, 
      getsvr_flag, datasrc_mng_type, db_type, 
      url, user_name, password, 
      auto_flag, max_active, max_idle, 
      max_wait, acquire_increment, initial_pool_size, 
      max_pool_size, checkout_timeout, jndi_name, 
      driver_class, ip_addr, ip_port, 
      auth, validation_query, test_while_idle, 
      test_period, cloud_project_id, getsvr_expr
      )
    values (#{datasrcMngId,jdbcType=CHAR}, #{projectId,jdbcType=CHAR}, #{envId,jdbcType=CHAR}, 
      #{datasrcMngName,jdbcType=VARCHAR}, #{datasrcMngDesc,jdbcType=VARCHAR}, #{dbFlag,jdbcType=CHAR}, 
      #{getsvrFlag,jdbcType=CHAR}, #{datasrcMngType,jdbcType=CHAR}, #{dbType,jdbcType=CHAR}, 
      #{url,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{autoFlag,jdbcType=CHAR}, #{maxActive,jdbcType=INTEGER}, #{maxIdle,jdbcType=INTEGER}, 
      #{maxWait,jdbcType=INTEGER}, #{acquireIncrement,jdbcType=INTEGER}, #{initialPoolSize,jdbcType=INTEGER}, 
      #{maxPoolSize,jdbcType=INTEGER}, #{checkoutTimeout,jdbcType=INTEGER}, #{jndiName,jdbcType=VARCHAR}, 
      #{driverClass,jdbcType=VARCHAR}, #{ipAddr,jdbcType=VARCHAR}, #{ipPort,jdbcType=VARCHAR}, 
      #{auth,jdbcType=VARCHAR}, #{validationQuery,jdbcType=VARCHAR}, #{testWhileIdle,jdbcType=CHAR}, 
      #{testPeriod,jdbcType=INTEGER}, #{cloudProjectId,jdbcType=CHAR}, #{getsvrExpr,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.adtec.entity.EstDatasrcMng" >
    insert into est_datasrc_mng
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="datasrcMngId != null" >
        datasrc_mng_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="envId != null" >
        env_id,
      </if>
      <if test="datasrcMngName != null" >
        datasrc_mng_name,
      </if>
      <if test="datasrcMngDesc != null" >
        datasrc_mng_desc,
      </if>
      <if test="dbFlag != null" >
        db_flag,
      </if>
      <if test="getsvrFlag != null" >
        getsvr_flag,
      </if>
      <if test="datasrcMngType != null" >
        datasrc_mng_type,
      </if>
      <if test="dbType != null" >
        db_type,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="autoFlag != null" >
        auto_flag,
      </if>
      <if test="maxActive != null" >
        max_active,
      </if>
      <if test="maxIdle != null" >
        max_idle,
      </if>
      <if test="maxWait != null" >
        max_wait,
      </if>
      <if test="acquireIncrement != null" >
        acquire_increment,
      </if>
      <if test="initialPoolSize != null" >
        initial_pool_size,
      </if>
      <if test="maxPoolSize != null" >
        max_pool_size,
      </if>
      <if test="checkoutTimeout != null" >
        checkout_timeout,
      </if>
      <if test="jndiName != null" >
        jndi_name,
      </if>
      <if test="driverClass != null" >
        driver_class,
      </if>
      <if test="ipAddr != null" >
        ip_addr,
      </if>
      <if test="ipPort != null" >
        ip_port,
      </if>
      <if test="auth != null" >
        auth,
      </if>
      <if test="validationQuery != null" >
        validation_query,
      </if>
      <if test="testWhileIdle != null" >
        test_while_idle,
      </if>
      <if test="testPeriod != null" >
        test_period,
      </if>
      <if test="cloudProjectId != null" >
        cloud_project_id,
      </if>
      <if test="getsvrExpr != null" >
        getsvr_expr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="datasrcMngId != null" >
        #{datasrcMngId,jdbcType=CHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=CHAR},
      </if>
      <if test="envId != null" >
        #{envId,jdbcType=CHAR},
      </if>
      <if test="datasrcMngName != null" >
        #{datasrcMngName,jdbcType=VARCHAR},
      </if>
      <if test="datasrcMngDesc != null" >
        #{datasrcMngDesc,jdbcType=VARCHAR},
      </if>
      <if test="dbFlag != null" >
        #{dbFlag,jdbcType=CHAR},
      </if>
      <if test="getsvrFlag != null" >
        #{getsvrFlag,jdbcType=CHAR},
      </if>
      <if test="datasrcMngType != null" >
        #{datasrcMngType,jdbcType=CHAR},
      </if>
      <if test="dbType != null" >
        #{dbType,jdbcType=CHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="autoFlag != null" >
        #{autoFlag,jdbcType=CHAR},
      </if>
      <if test="maxActive != null" >
        #{maxActive,jdbcType=INTEGER},
      </if>
      <if test="maxIdle != null" >
        #{maxIdle,jdbcType=INTEGER},
      </if>
      <if test="maxWait != null" >
        #{maxWait,jdbcType=INTEGER},
      </if>
      <if test="acquireIncrement != null" >
        #{acquireIncrement,jdbcType=INTEGER},
      </if>
      <if test="initialPoolSize != null" >
        #{initialPoolSize,jdbcType=INTEGER},
      </if>
      <if test="maxPoolSize != null" >
        #{maxPoolSize,jdbcType=INTEGER},
      </if>
      <if test="checkoutTimeout != null" >
        #{checkoutTimeout,jdbcType=INTEGER},
      </if>
      <if test="jndiName != null" >
        #{jndiName,jdbcType=VARCHAR},
      </if>
      <if test="driverClass != null" >
        #{driverClass,jdbcType=VARCHAR},
      </if>
      <if test="ipAddr != null" >
        #{ipAddr,jdbcType=VARCHAR},
      </if>
      <if test="ipPort != null" >
        #{ipPort,jdbcType=VARCHAR},
      </if>
      <if test="auth != null" >
        #{auth,jdbcType=VARCHAR},
      </if>
      <if test="validationQuery != null" >
        #{validationQuery,jdbcType=VARCHAR},
      </if>
      <if test="testWhileIdle != null" >
        #{testWhileIdle,jdbcType=CHAR},
      </if>
      <if test="testPeriod != null" >
        #{testPeriod,jdbcType=INTEGER},
      </if>
      <if test="cloudProjectId != null" >
        #{cloudProjectId,jdbcType=CHAR},
      </if>
      <if test="getsvrExpr != null" >
        #{getsvrExpr,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adtec.entity.EstDatasrcMng" >
    update est_datasrc_mng
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=CHAR},
      </if>
      <if test="envId != null" >
        env_id = #{envId,jdbcType=CHAR},
      </if>
      <if test="datasrcMngName != null" >
        datasrc_mng_name = #{datasrcMngName,jdbcType=VARCHAR},
      </if>
      <if test="datasrcMngDesc != null" >
        datasrc_mng_desc = #{datasrcMngDesc,jdbcType=VARCHAR},
      </if>
      <if test="dbFlag != null" >
        db_flag = #{dbFlag,jdbcType=CHAR},
      </if>
      <if test="getsvrFlag != null" >
        getsvr_flag = #{getsvrFlag,jdbcType=CHAR},
      </if>
      <if test="datasrcMngType != null" >
        datasrc_mng_type = #{datasrcMngType,jdbcType=CHAR},
      </if>
      <if test="dbType != null" >
        db_type = #{dbType,jdbcType=CHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="autoFlag != null" >
        auto_flag = #{autoFlag,jdbcType=CHAR},
      </if>
      <if test="maxActive != null" >
        max_active = #{maxActive,jdbcType=INTEGER},
      </if>
      <if test="maxIdle != null" >
        max_idle = #{maxIdle,jdbcType=INTEGER},
      </if>
      <if test="maxWait != null" >
        max_wait = #{maxWait,jdbcType=INTEGER},
      </if>
      <if test="acquireIncrement != null" >
        acquire_increment = #{acquireIncrement,jdbcType=INTEGER},
      </if>
      <if test="initialPoolSize != null" >
        initial_pool_size = #{initialPoolSize,jdbcType=INTEGER},
      </if>
      <if test="maxPoolSize != null" >
        max_pool_size = #{maxPoolSize,jdbcType=INTEGER},
      </if>
      <if test="checkoutTimeout != null" >
        checkout_timeout = #{checkoutTimeout,jdbcType=INTEGER},
      </if>
      <if test="jndiName != null" >
        jndi_name = #{jndiName,jdbcType=VARCHAR},
      </if>
      <if test="driverClass != null" >
        driver_class = #{driverClass,jdbcType=VARCHAR},
      </if>
      <if test="ipAddr != null" >
        ip_addr = #{ipAddr,jdbcType=VARCHAR},
      </if>
      <if test="ipPort != null" >
        ip_port = #{ipPort,jdbcType=VARCHAR},
      </if>
      <if test="auth != null" >
        auth = #{auth,jdbcType=VARCHAR},
      </if>
      <if test="validationQuery != null" >
        validation_query = #{validationQuery,jdbcType=VARCHAR},
      </if>
      <if test="testWhileIdle != null" >
        test_while_idle = #{testWhileIdle,jdbcType=CHAR},
      </if>
      <if test="testPeriod != null" >
        test_period = #{testPeriod,jdbcType=INTEGER},
      </if>
      <if test="cloudProjectId != null" >
        cloud_project_id = #{cloudProjectId,jdbcType=CHAR},
      </if>
      <if test="getsvrExpr != null" >
        getsvr_expr = #{getsvrExpr,jdbcType=CHAR},
      </if>
    </set>
    where datasrc_mng_id = #{datasrcMngId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adtec.entity.EstDatasrcMng" >
    update est_datasrc_mng
    set project_id = #{projectId,jdbcType=CHAR},
      env_id = #{envId,jdbcType=CHAR},
      datasrc_mng_name = #{datasrcMngName,jdbcType=VARCHAR},
      datasrc_mng_desc = #{datasrcMngDesc,jdbcType=VARCHAR},
      db_flag = #{dbFlag,jdbcType=CHAR},
      getsvr_flag = #{getsvrFlag,jdbcType=CHAR},
      datasrc_mng_type = #{datasrcMngType,jdbcType=CHAR},
      db_type = #{dbType,jdbcType=CHAR},
      url = #{url,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      auto_flag = #{autoFlag,jdbcType=CHAR},
      max_active = #{maxActive,jdbcType=INTEGER},
      max_idle = #{maxIdle,jdbcType=INTEGER},
      max_wait = #{maxWait,jdbcType=INTEGER},
      acquire_increment = #{acquireIncrement,jdbcType=INTEGER},
      initial_pool_size = #{initialPoolSize,jdbcType=INTEGER},
      max_pool_size = #{maxPoolSize,jdbcType=INTEGER},
      checkout_timeout = #{checkoutTimeout,jdbcType=INTEGER},
      jndi_name = #{jndiName,jdbcType=VARCHAR},
      driver_class = #{driverClass,jdbcType=VARCHAR},
      ip_addr = #{ipAddr,jdbcType=VARCHAR},
      ip_port = #{ipPort,jdbcType=VARCHAR},
      auth = #{auth,jdbcType=VARCHAR},
      validation_query = #{validationQuery,jdbcType=VARCHAR},
      test_while_idle = #{testWhileIdle,jdbcType=CHAR},
      test_period = #{testPeriod,jdbcType=INTEGER},
      cloud_project_id = #{cloudProjectId,jdbcType=CHAR},
      getsvr_expr = #{getsvrExpr,jdbcType=CHAR}
    where datasrc_mng_id = #{datasrcMngId,jdbcType=CHAR}
  </update>
</mapper>