<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.jfBuilder.dao.EstDesignIndexColumnMapper" >
  <resultMap id="BaseResultMap" type="com.adtec.entity.EstDesignIndexColumnKey" >
    <id column="table_id" property="tableId" jdbcType="CHAR" />
    <id column="index_id" property="indexId" jdbcType="CHAR" />
    <id column="column_id" property="columnId" jdbcType="CHAR" />
    <id column="seq_no" property="seqNo" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.adtec.entity.EstDesignIndexColumnKey" >
    delete from est_design_index_column
    where table_id = #{tableId,jdbcType=CHAR}
      and index_id = #{indexId,jdbcType=CHAR}
      and column_id = #{columnId,jdbcType=CHAR}
      and seq_no = #{seqNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.adtec.entity.EstDesignIndexColumnKey" >
    insert into est_design_index_column (table_id, index_id, column_id, 
      seq_no)
    values (#{tableId,jdbcType=CHAR}, #{indexId,jdbcType=CHAR}, #{columnId,jdbcType=CHAR}, 
      #{seqNo,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.adtec.entity.EstDesignIndexColumnKey" >
    insert into est_design_index_column
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tableId != null" >
        table_id,
      </if>
      <if test="indexId != null" >
        index_id,
      </if>
      <if test="columnId != null" >
        column_id,
      </if>
      <if test="seqNo != null" >
        seq_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tableId != null" >
        #{tableId,jdbcType=CHAR},
      </if>
      <if test="indexId != null" >
        #{indexId,jdbcType=CHAR},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=CHAR},
      </if>
      <if test="seqNo != null" >
        #{seqNo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>