<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.jfBuilder.dao.EstDesignBusCompMapper" >
  <resultMap id="BaseResultMap" type="com.adtec.entity.EstDesignBusComp" >
    <id column="bus_id" property="busId" jdbcType="CHAR" />
    <id column="project_id" property="projectId" jdbcType="CHAR" />
    <result column="seq_no" property="seqNo" jdbcType="INTEGER" />
    <result column="bus_name" property="busName" jdbcType="CHAR" />
    <result column="bus_desc" property="busDesc" jdbcType="CHAR" />
    <result column="design_comment" property="designComment" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    bus_id, project_id, seq_no, bus_name, bus_desc, design_comment, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.adtec.entity.EstDesignBusCompKey" >
    select 
    <include refid="Base_Column_List" />
    from est_design_bus_comp
    where bus_id = #{busId,jdbcType=CHAR}
      and project_id = #{projectId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.adtec.entity.EstDesignBusCompKey" >
    delete from est_design_bus_comp
    where bus_id = #{busId,jdbcType=CHAR}
      and project_id = #{projectId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.adtec.entity.EstDesignBusComp" >
    insert into est_design_bus_comp (bus_id, project_id, seq_no, 
      bus_name, bus_desc, design_comment, 
      flag)
    values (#{busId,jdbcType=CHAR}, #{projectId,jdbcType=CHAR}, #{seqNo,jdbcType=INTEGER}, 
      #{busName,jdbcType=CHAR}, #{busDesc,jdbcType=CHAR}, #{designComment,jdbcType=VARCHAR}, 
      #{flag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.adtec.entity.EstDesignBusComp" >
    insert into est_design_bus_comp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="busId != null" >
        bus_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="seqNo != null" >
        seq_no,
      </if>
      <if test="busName != null" >
        bus_name,
      </if>
      <if test="busDesc != null" >
        bus_desc,
      </if>
      <if test="designComment != null" >
        design_comment,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="busId != null" >
        #{busId,jdbcType=CHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=CHAR},
      </if>
      <if test="seqNo != null" >
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="busName != null" >
        #{busName,jdbcType=CHAR},
      </if>
      <if test="busDesc != null" >
        #{busDesc,jdbcType=CHAR},
      </if>
      <if test="designComment != null" >
        #{designComment,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adtec.entity.EstDesignBusComp" >
    update est_design_bus_comp
    <set >
      <if test="seqNo != null" >
        seq_no = #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="busName != null" >
        bus_name = #{busName,jdbcType=CHAR},
      </if>
      <if test="busDesc != null" >
        bus_desc = #{busDesc,jdbcType=CHAR},
      </if>
      <if test="designComment != null" >
        design_comment = #{designComment,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=CHAR},
      </if>
    </set>
    where bus_id = #{busId,jdbcType=CHAR}
      and project_id = #{projectId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adtec.entity.EstDesignBusComp" >
    update est_design_bus_comp
    set seq_no = #{seqNo,jdbcType=INTEGER},
      bus_name = #{busName,jdbcType=CHAR},
      bus_desc = #{busDesc,jdbcType=CHAR},
      design_comment = #{designComment,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=CHAR}
    where bus_id = #{busId,jdbcType=CHAR}
      and project_id = #{projectId,jdbcType=CHAR}
  </update>
</mapper>