<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.jfBuilder.dao.EstFormItemMapper" >
  <resultMap id="BaseResultMap" type="com.adtec.entity.EstFormItem" >
    <id column="form_id" property="formId" jdbcType="CHAR" />
    <id column="item_id" property="itemId" jdbcType="SMALLINT" />
    <result column="elem_id" property="elemId" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    form_id, item_id, elem_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.adtec.entity.EstFormItemKey" >
    select 
    <include refid="Base_Column_List" />
    from est_form_item
    where form_id = #{formId,jdbcType=CHAR}
      and item_id = #{itemId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.adtec.entity.EstFormItemKey" >
    delete from est_form_item
    where form_id = #{formId,jdbcType=CHAR}
      and item_id = #{itemId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.adtec.entity.EstFormItem" >
    insert into est_form_item (form_id, item_id, elem_id
      )
    values (#{formId,jdbcType=CHAR}, #{itemId,jdbcType=SMALLINT}, #{elemId,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.adtec.entity.EstFormItem" >
    insert into est_form_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="formId != null" >
        form_id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="elemId != null" >
        elem_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="formId != null" >
        #{formId,jdbcType=CHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=SMALLINT},
      </if>
      <if test="elemId != null" >
        #{elemId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adtec.entity.EstFormItem" >
    update est_form_item
    <set >
      <if test="elemId != null" >
        elem_id = #{elemId,jdbcType=CHAR},
      </if>
    </set>
    where form_id = #{formId,jdbcType=CHAR}
      and item_id = #{itemId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adtec.entity.EstFormItem" >
    update est_form_item
    set elem_id = #{elemId,jdbcType=CHAR}
    where form_id = #{formId,jdbcType=CHAR}
      and item_id = #{itemId,jdbcType=SMALLINT}
  </update>
</mapper>