<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.jfBuilder.dao.EstIdMngMapper" >
  <resultMap id="BaseResultMap" type="com.adtec.entity.EstIdMng" >
    <id column="id_type" property="idType" jdbcType="CHAR" />
    <result column="id_desc" property="idDesc" jdbcType="VARCHAR" />
    <result column="id_no" property="idNo" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id_type, id_desc, id_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from est_id_mng
    where id_type = #{idType,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from est_id_mng
    where id_type = #{idType,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.adtec.entity.EstIdMng" >
    insert into est_id_mng (id_type, id_desc, id_no
      )
    values (#{idType,jdbcType=CHAR}, #{idDesc,jdbcType=VARCHAR}, #{idNo,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.adtec.entity.EstIdMng" >
    insert into est_id_mng
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idType != null" >
        id_type,
      </if>
      <if test="idDesc != null" >
        id_desc,
      </if>
      <if test="idNo != null" >
        id_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idType != null" >
        #{idType,jdbcType=CHAR},
      </if>
      <if test="idDesc != null" >
        #{idDesc,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        #{idNo,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adtec.entity.EstIdMng" >
    update est_id_mng
    <set >
      <if test="idDesc != null" >
        id_desc = #{idDesc,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        id_no = #{idNo,jdbcType=CHAR},
      </if>
    </set>
    where id_type = #{idType,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adtec.entity.EstIdMng" >
    update est_id_mng
    set id_desc = #{idDesc,jdbcType=VARCHAR},
      id_no = #{idNo,jdbcType=CHAR}
    where id_type = #{idType,jdbcType=CHAR}
  </update>
</mapper>