<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.jfBuilder.dao.EstNodeMapper" >
  <resultMap id="BaseResultMap" type="com.adtec.entity.EstNode" >
    <id column="dta_id" property="dtaId" jdbcType="CHAR" />
    <id column="node_name" property="nodeName" jdbcType="CHAR" />
    <result column="node_id" property="nodeId" jdbcType="CHAR" />
    <result column="node_desc" property="nodeDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dta_id, node_name, node_id, node_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.adtec.entity.EstNodeKey" >
    select 
    <include refid="Base_Column_List" />
    from est_node
    where dta_id = #{dtaId,jdbcType=CHAR}
      and node_name = #{nodeName,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.adtec.entity.EstNodeKey" >
    delete from est_node
    where dta_id = #{dtaId,jdbcType=CHAR}
      and node_name = #{nodeName,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.adtec.entity.EstNode" >
    insert into est_node (dta_id, node_name, node_id, 
      node_desc)
    values (#{dtaId,jdbcType=CHAR}, #{nodeName,jdbcType=CHAR}, #{nodeId,jdbcType=CHAR}, 
      #{nodeDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.adtec.entity.EstNode" >
    insert into est_node
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dtaId != null" >
        dta_id,
      </if>
      <if test="nodeName != null" >
        node_name,
      </if>
      <if test="nodeId != null" >
        node_id,
      </if>
      <if test="nodeDesc != null" >
        node_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dtaId != null" >
        #{dtaId,jdbcType=CHAR},
      </if>
      <if test="nodeName != null" >
        #{nodeName,jdbcType=CHAR},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=CHAR},
      </if>
      <if test="nodeDesc != null" >
        #{nodeDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adtec.entity.EstNode" >
    update est_node
    <set >
      <if test="nodeId != null" >
        node_id = #{nodeId,jdbcType=CHAR},
      </if>
      <if test="nodeDesc != null" >
        node_desc = #{nodeDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where dta_id = #{dtaId,jdbcType=CHAR}
      and node_name = #{nodeName,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adtec.entity.EstNode" >
    update est_node
    set node_id = #{nodeId,jdbcType=CHAR},
      node_desc = #{nodeDesc,jdbcType=VARCHAR}
    where dta_id = #{dtaId,jdbcType=CHAR}
      and node_name = #{nodeName,jdbcType=CHAR}
  </update>
</mapper>