<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.jfBuilder.dao.EstOptionMapper" >
  <resultMap id="BaseResultMap" type="com.adtec.entity.EstOption" >
    <result column="sec_key" property="secKey" jdbcType="CHAR" />
    <result column="jnl_save" property="jnlSave" jdbcType="SMALLINT" />
    <result column="project_id" property="projectId" jdbcType="CHAR" />
    <result column="version_num" property="versionNum" jdbcType="CHAR" />
    <result column="encoding" property="encoding" jdbcType="CHAR" />
    <result column="is_svn_conf" property="isSvnConf" jdbcType="CHAR" />
    <result column="svn_url" property="svnUrl" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.adtec.entity.EstOption" >
    insert into est_option (sec_key, jnl_save, project_id, 
      version_num, encoding, is_svn_conf, 
      svn_url)
    values (#{secKey,jdbcType=CHAR}, #{jnlSave,jdbcType=SMALLINT}, #{projectId,jdbcType=CHAR}, 
      #{versionNum,jdbcType=CHAR}, #{encoding,jdbcType=CHAR}, #{isSvnConf,jdbcType=CHAR}, 
      #{svnUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.adtec.entity.EstOption" >
    insert into est_option
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="secKey != null" >
        sec_key,
      </if>
      <if test="jnlSave != null" >
        jnl_save,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="versionNum != null" >
        version_num,
      </if>
      <if test="encoding != null" >
        encoding,
      </if>
      <if test="isSvnConf != null" >
        is_svn_conf,
      </if>
      <if test="svnUrl != null" >
        svn_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="secKey != null" >
        #{secKey,jdbcType=CHAR},
      </if>
      <if test="jnlSave != null" >
        #{jnlSave,jdbcType=SMALLINT},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=CHAR},
      </if>
      <if test="versionNum != null" >
        #{versionNum,jdbcType=CHAR},
      </if>
      <if test="encoding != null" >
        #{encoding,jdbcType=CHAR},
      </if>
      <if test="isSvnConf != null" >
        #{isSvnConf,jdbcType=CHAR},
      </if>
      <if test="svnUrl != null" >
        #{svnUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>