<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.jfBuilder.dao.EstPropertyValueListMapper" >
  <resultMap id="BaseResultMap" type="com.adtec.entity.EstPropertyValueList" >
    <id column="value_id" property="valueId" jdbcType="CHAR" />
    <result column="property_id" property="propertyId" jdbcType="CHAR" />
    <result column="key_str" property="keyStr" jdbcType="CHAR" />
    <result column="value_str" property="valueStr" jdbcType="VARCHAR" />
    <result column="ref_bean" property="refBean" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    value_id, property_id, key_str, value_str, ref_bean
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from est_property_value_list
    where value_id = #{valueId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from est_property_value_list
    where value_id = #{valueId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.adtec.entity.EstPropertyValueList" >
    insert into est_property_value_list (value_id, property_id, key_str, 
      value_str, ref_bean)
    values (#{valueId,jdbcType=CHAR}, #{propertyId,jdbcType=CHAR}, #{keyStr,jdbcType=CHAR}, 
      #{valueStr,jdbcType=VARCHAR}, #{refBean,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.adtec.entity.EstPropertyValueList" >
    insert into est_property_value_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="valueId != null" >
        value_id,
      </if>
      <if test="propertyId != null" >
        property_id,
      </if>
      <if test="keyStr != null" >
        key_str,
      </if>
      <if test="valueStr != null" >
        value_str,
      </if>
      <if test="refBean != null" >
        ref_bean,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="valueId != null" >
        #{valueId,jdbcType=CHAR},
      </if>
      <if test="propertyId != null" >
        #{propertyId,jdbcType=CHAR},
      </if>
      <if test="keyStr != null" >
        #{keyStr,jdbcType=CHAR},
      </if>
      <if test="valueStr != null" >
        #{valueStr,jdbcType=VARCHAR},
      </if>
      <if test="refBean != null" >
        #{refBean,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adtec.entity.EstPropertyValueList" >
    update est_property_value_list
    <set >
      <if test="propertyId != null" >
        property_id = #{propertyId,jdbcType=CHAR},
      </if>
      <if test="keyStr != null" >
        key_str = #{keyStr,jdbcType=CHAR},
      </if>
      <if test="valueStr != null" >
        value_str = #{valueStr,jdbcType=VARCHAR},
      </if>
      <if test="refBean != null" >
        ref_bean = #{refBean,jdbcType=CHAR},
      </if>
    </set>
    where value_id = #{valueId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adtec.entity.EstPropertyValueList" >
    update est_property_value_list
    set property_id = #{propertyId,jdbcType=CHAR},
      key_str = #{keyStr,jdbcType=CHAR},
      value_str = #{valueStr,jdbcType=VARCHAR},
      ref_bean = #{refBean,jdbcType=CHAR}
    where value_id = #{valueId,jdbcType=CHAR}
  </update>
</mapper>