<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.jfBuilder.dao.EstSubBusMapper" >
  <resultMap id="BaseResultMap" type="com.adtec.entity.EstSubBus" >
    <id column="project_id" property="projectId" jdbcType="CHAR" />
    <id column="bus_id" property="busId" jdbcType="CHAR" />
    <id column="sub_bus_id" property="subBusId" jdbcType="CHAR" />
    <result column="sub_bus_name" property="subBusName" jdbcType="CHAR" />
    <result column="sub_bus_desc" property="subBusDesc" jdbcType="VARCHAR" />
    <result column="tran_flag" property="tranFlag" jdbcType="CHAR" />
    <result column="resp_flag" property="respFlag" jdbcType="CHAR" />
    <result column="prio" property="prio" jdbcType="CHAR" />
    <result column="timeout" property="timeout" jdbcType="SMALLINT" />
    <result column="max_revs_num" property="maxRevsNum" jdbcType="SMALLINT" />
    <result column="max_comps_num" property="maxCompsNum" jdbcType="SMALLINT" />
    <result column="ala_init_end" property="alaInitEnd" jdbcType="CHAR" />
    <result column="ala_term_begin" property="alaTermBegin" jdbcType="CHAR" />
    <result column="ala_term_end" property="alaTermEnd" jdbcType="CHAR" />
    <result column="svc_pre_proc" property="svcPreProc" jdbcType="CHAR" />
    <result column="svc_succ_proc" property="svcSuccProc" jdbcType="CHAR" />
    <result column="svc_lost_proc" property="svcLostProc" jdbcType="CHAR" />
    <result column="svc_term_proc" property="svcTermProc" jdbcType="CHAR" />
    <result column="revs_init" property="revsInit" jdbcType="CHAR" />
    <result column="revs_succ" property="revsSucc" jdbcType="CHAR" />
    <result column="revs_fail" property="revsFail" jdbcType="CHAR" />
    <result column="revs_cond" property="revsCond" jdbcType="CHAR" />
    <result column="comps_init" property="compsInit" jdbcType="CHAR" />
    <result column="comps_succ" property="compsSucc" jdbcType="CHAR" />
    <result column="comps_fail" property="compsFail" jdbcType="CHAR" />
    <result column="comps_cond" property="compsCond" jdbcType="CHAR" />
    <result column="in_elem" property="inElem" jdbcType="CHAR" />
    <result column="out_elem" property="outElem" jdbcType="CHAR" />
    <result column="grp_id" property="grpId" jdbcType="CHAR" />
    <result column="crt_user" property="crtUser" jdbcType="CHAR" />
    <result column="crt_date_time" property="crtDateTime" jdbcType="CHAR" />
    <result column="lst_mod_user" property="lstModUser" jdbcType="CHAR" />
    <result column="lst_mod_date_time" property="lstModDateTime" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    project_id, bus_id, sub_bus_id, sub_bus_name, sub_bus_desc, tran_flag, resp_flag, 
    prio, timeout, max_revs_num, max_comps_num, ala_init_end, ala_term_begin, ala_term_end, 
    svc_pre_proc, svc_succ_proc, svc_lost_proc, svc_term_proc, revs_init, revs_succ, 
    revs_fail, revs_cond, comps_init, comps_succ, comps_fail, comps_cond, in_elem, out_elem, 
    grp_id, crt_user, crt_date_time, lst_mod_user, lst_mod_date_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.adtec.entity.EstSubBusKey" >
    select 
    <include refid="Base_Column_List" />
    from est_sub_bus
    where project_id = #{projectId,jdbcType=CHAR}
      and bus_id = #{busId,jdbcType=CHAR}
      and sub_bus_id = #{subBusId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.adtec.entity.EstSubBusKey" >
    delete from est_sub_bus
    where project_id = #{projectId,jdbcType=CHAR}
      and bus_id = #{busId,jdbcType=CHAR}
      and sub_bus_id = #{subBusId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.adtec.entity.EstSubBus" >
    insert into est_sub_bus (project_id, bus_id, sub_bus_id, 
      sub_bus_name, sub_bus_desc, tran_flag, 
      resp_flag, prio, timeout, 
      max_revs_num, max_comps_num, ala_init_end, 
      ala_term_begin, ala_term_end, svc_pre_proc, 
      svc_succ_proc, svc_lost_proc, svc_term_proc, 
      revs_init, revs_succ, revs_fail, 
      revs_cond, comps_init, comps_succ, 
      comps_fail, comps_cond, in_elem, 
      out_elem, grp_id, crt_user, crt_date_time, 
      lst_mod_user, lst_mod_date_time)
    values (#{projectId,jdbcType=CHAR}, #{busId,jdbcType=CHAR}, #{subBusId,jdbcType=CHAR}, 
      #{subBusName,jdbcType=CHAR}, #{subBusDesc,jdbcType=VARCHAR}, #{tranFlag,jdbcType=CHAR}, 
      #{respFlag,jdbcType=CHAR}, #{prio,jdbcType=CHAR}, #{timeout,jdbcType=SMALLINT}, 
      #{maxRevsNum,jdbcType=SMALLINT}, #{maxCompsNum,jdbcType=SMALLINT}, #{alaInitEnd,jdbcType=CHAR}, 
      #{alaTermBegin,jdbcType=CHAR}, #{alaTermEnd,jdbcType=CHAR}, #{svcPreProc,jdbcType=CHAR}, 
      #{svcSuccProc,jdbcType=CHAR}, #{svcLostProc,jdbcType=CHAR}, #{svcTermProc,jdbcType=CHAR}, 
      #{revsInit,jdbcType=CHAR}, #{revsSucc,jdbcType=CHAR}, #{revsFail,jdbcType=CHAR}, 
      #{revsCond,jdbcType=CHAR}, #{compsInit,jdbcType=CHAR}, #{compsSucc,jdbcType=CHAR}, 
      #{compsFail,jdbcType=CHAR}, #{compsCond,jdbcType=CHAR}, #{inElem,jdbcType=CHAR}, 
      #{outElem,jdbcType=CHAR}, #{grpId,jdbcType=CHAR}, #{crtUser,jdbcType=CHAR}, #{crtDateTime,jdbcType=CHAR}, 
      #{lstModUser,jdbcType=CHAR}, #{lstModDateTime,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.adtec.entity.EstSubBus" >
    insert into est_sub_bus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="busId != null" >
        bus_id,
      </if>
      <if test="subBusId != null" >
        sub_bus_id,
      </if>
      <if test="subBusName != null" >
        sub_bus_name,
      </if>
      <if test="subBusDesc != null" >
        sub_bus_desc,
      </if>
      <if test="tranFlag != null" >
        tran_flag,
      </if>
      <if test="respFlag != null" >
        resp_flag,
      </if>
      <if test="prio != null" >
        prio,
      </if>
      <if test="timeout != null" >
        timeout,
      </if>
      <if test="maxRevsNum != null" >
        max_revs_num,
      </if>
      <if test="maxCompsNum != null" >
        max_comps_num,
      </if>
      <if test="alaInitEnd != null" >
        ala_init_end,
      </if>
      <if test="alaTermBegin != null" >
        ala_term_begin,
      </if>
      <if test="alaTermEnd != null" >
        ala_term_end,
      </if>
      <if test="svcPreProc != null" >
        svc_pre_proc,
      </if>
      <if test="svcSuccProc != null" >
        svc_succ_proc,
      </if>
      <if test="svcLostProc != null" >
        svc_lost_proc,
      </if>
      <if test="svcTermProc != null" >
        svc_term_proc,
      </if>
      <if test="revsInit != null" >
        revs_init,
      </if>
      <if test="revsSucc != null" >
        revs_succ,
      </if>
      <if test="revsFail != null" >
        revs_fail,
      </if>
      <if test="revsCond != null" >
        revs_cond,
      </if>
      <if test="compsInit != null" >
        comps_init,
      </if>
      <if test="compsSucc != null" >
        comps_succ,
      </if>
      <if test="compsFail != null" >
        comps_fail,
      </if>
      <if test="compsCond != null" >
        comps_cond,
      </if>
      <if test="inElem != null" >
        in_elem,
      </if>
      <if test="outElem != null" >
        out_elem,
      </if>
      <if test="grpId != null" >
        grp_id,
      </if>
      <if test="crtUser != null" >
        crt_user,
      </if>
      <if test="crtDateTime != null" >
        crt_date_time,
      </if>
      <if test="lstModUser != null" >
        lst_mod_user,
      </if>
      <if test="lstModDateTime != null" >
        lst_mod_date_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=CHAR},
      </if>
      <if test="busId != null" >
        #{busId,jdbcType=CHAR},
      </if>
      <if test="subBusId != null" >
        #{subBusId,jdbcType=CHAR},
      </if>
      <if test="subBusName != null" >
        #{subBusName,jdbcType=CHAR},
      </if>
      <if test="subBusDesc != null" >
        #{subBusDesc,jdbcType=VARCHAR},
      </if>
      <if test="tranFlag != null" >
        #{tranFlag,jdbcType=CHAR},
      </if>
      <if test="respFlag != null" >
        #{respFlag,jdbcType=CHAR},
      </if>
      <if test="prio != null" >
        #{prio,jdbcType=CHAR},
      </if>
      <if test="timeout != null" >
        #{timeout,jdbcType=SMALLINT},
      </if>
      <if test="maxRevsNum != null" >
        #{maxRevsNum,jdbcType=SMALLINT},
      </if>
      <if test="maxCompsNum != null" >
        #{maxCompsNum,jdbcType=SMALLINT},
      </if>
      <if test="alaInitEnd != null" >
        #{alaInitEnd,jdbcType=CHAR},
      </if>
      <if test="alaTermBegin != null" >
        #{alaTermBegin,jdbcType=CHAR},
      </if>
      <if test="alaTermEnd != null" >
        #{alaTermEnd,jdbcType=CHAR},
      </if>
      <if test="svcPreProc != null" >
        #{svcPreProc,jdbcType=CHAR},
      </if>
      <if test="svcSuccProc != null" >
        #{svcSuccProc,jdbcType=CHAR},
      </if>
      <if test="svcLostProc != null" >
        #{svcLostProc,jdbcType=CHAR},
      </if>
      <if test="svcTermProc != null" >
        #{svcTermProc,jdbcType=CHAR},
      </if>
      <if test="revsInit != null" >
        #{revsInit,jdbcType=CHAR},
      </if>
      <if test="revsSucc != null" >
        #{revsSucc,jdbcType=CHAR},
      </if>
      <if test="revsFail != null" >
        #{revsFail,jdbcType=CHAR},
      </if>
      <if test="revsCond != null" >
        #{revsCond,jdbcType=CHAR},
      </if>
      <if test="compsInit != null" >
        #{compsInit,jdbcType=CHAR},
      </if>
      <if test="compsSucc != null" >
        #{compsSucc,jdbcType=CHAR},
      </if>
      <if test="compsFail != null" >
        #{compsFail,jdbcType=CHAR},
      </if>
      <if test="compsCond != null" >
        #{compsCond,jdbcType=CHAR},
      </if>
      <if test="inElem != null" >
        #{inElem,jdbcType=CHAR},
      </if>
      <if test="outElem != null" >
        #{outElem,jdbcType=CHAR},
      </if>
      <if test="grpId != null" >
        #{grpId,jdbcType=CHAR},
      </if>
      <if test="crtUser != null" >
        #{crtUser,jdbcType=CHAR},
      </if>
      <if test="crtDateTime != null" >
        #{crtDateTime,jdbcType=CHAR},
      </if>
      <if test="lstModUser != null" >
        #{lstModUser,jdbcType=CHAR},
      </if>
      <if test="lstModDateTime != null" >
        #{lstModDateTime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adtec.entity.EstSubBus" >
    update est_sub_bus
    <set >
      <if test="subBusName != null" >
        sub_bus_name = #{subBusName,jdbcType=CHAR},
      </if>
      <if test="subBusDesc != null" >
        sub_bus_desc = #{subBusDesc,jdbcType=VARCHAR},
      </if>
      <if test="tranFlag != null" >
        tran_flag = #{tranFlag,jdbcType=CHAR},
      </if>
      <if test="respFlag != null" >
        resp_flag = #{respFlag,jdbcType=CHAR},
      </if>
      <if test="prio != null" >
        prio = #{prio,jdbcType=CHAR},
      </if>
      <if test="timeout != null" >
        timeout = #{timeout,jdbcType=SMALLINT},
      </if>
      <if test="maxRevsNum != null" >
        max_revs_num = #{maxRevsNum,jdbcType=SMALLINT},
      </if>
      <if test="maxCompsNum != null" >
        max_comps_num = #{maxCompsNum,jdbcType=SMALLINT},
      </if>
      <if test="alaInitEnd != null" >
        ala_init_end = #{alaInitEnd,jdbcType=CHAR},
      </if>
      <if test="alaTermBegin != null" >
        ala_term_begin = #{alaTermBegin,jdbcType=CHAR},
      </if>
      <if test="alaTermEnd != null" >
        ala_term_end = #{alaTermEnd,jdbcType=CHAR},
      </if>
      <if test="svcPreProc != null" >
        svc_pre_proc = #{svcPreProc,jdbcType=CHAR},
      </if>
      <if test="svcSuccProc != null" >
        svc_succ_proc = #{svcSuccProc,jdbcType=CHAR},
      </if>
      <if test="svcLostProc != null" >
        svc_lost_proc = #{svcLostProc,jdbcType=CHAR},
      </if>
      <if test="svcTermProc != null" >
        svc_term_proc = #{svcTermProc,jdbcType=CHAR},
      </if>
      <if test="revsInit != null" >
        revs_init = #{revsInit,jdbcType=CHAR},
      </if>
      <if test="revsSucc != null" >
        revs_succ = #{revsSucc,jdbcType=CHAR},
      </if>
      <if test="revsFail != null" >
        revs_fail = #{revsFail,jdbcType=CHAR},
      </if>
      <if test="revsCond != null" >
        revs_cond = #{revsCond,jdbcType=CHAR},
      </if>
      <if test="compsInit != null" >
        comps_init = #{compsInit,jdbcType=CHAR},
      </if>
      <if test="compsSucc != null" >
        comps_succ = #{compsSucc,jdbcType=CHAR},
      </if>
      <if test="compsFail != null" >
        comps_fail = #{compsFail,jdbcType=CHAR},
      </if>
      <if test="compsCond != null" >
        comps_cond = #{compsCond,jdbcType=CHAR},
      </if>
      <if test="inElem != null" >
        in_elem = #{inElem,jdbcType=CHAR},
      </if>
      <if test="outElem != null" >
        out_elem = #{outElem,jdbcType=CHAR},
      </if>
      <if test="grpId != null" >
        grp_id = #{grpId,jdbcType=CHAR},
      </if>
      <if test="crtUser != null" >
        crt_user = #{crtUser,jdbcType=CHAR},
      </if>
      <if test="crtDateTime != null" >
        crt_date_time = #{crtDateTime,jdbcType=CHAR},
      </if>
      <if test="lstModUser != null" >
        lst_mod_user = #{lstModUser,jdbcType=CHAR},
      </if>
      <if test="lstModDateTime != null" >
        lst_mod_date_time = #{lstModDateTime,jdbcType=CHAR},
      </if>
    </set>
    where project_id = #{projectId,jdbcType=CHAR}
      and bus_id = #{busId,jdbcType=CHAR}
      and sub_bus_id = #{subBusId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adtec.entity.EstSubBus" >
    update est_sub_bus
    set sub_bus_name = #{subBusName,jdbcType=CHAR},
      sub_bus_desc = #{subBusDesc,jdbcType=VARCHAR},
      tran_flag = #{tranFlag,jdbcType=CHAR},
      resp_flag = #{respFlag,jdbcType=CHAR},
      prio = #{prio,jdbcType=CHAR},
      timeout = #{timeout,jdbcType=SMALLINT},
      max_revs_num = #{maxRevsNum,jdbcType=SMALLINT},
      max_comps_num = #{maxCompsNum,jdbcType=SMALLINT},
      ala_init_end = #{alaInitEnd,jdbcType=CHAR},
      ala_term_begin = #{alaTermBegin,jdbcType=CHAR},
      ala_term_end = #{alaTermEnd,jdbcType=CHAR},
      svc_pre_proc = #{svcPreProc,jdbcType=CHAR},
      svc_succ_proc = #{svcSuccProc,jdbcType=CHAR},
      svc_lost_proc = #{svcLostProc,jdbcType=CHAR},
      svc_term_proc = #{svcTermProc,jdbcType=CHAR},
      revs_init = #{revsInit,jdbcType=CHAR},
      revs_succ = #{revsSucc,jdbcType=CHAR},
      revs_fail = #{revsFail,jdbcType=CHAR},
      revs_cond = #{revsCond,jdbcType=CHAR},
      comps_init = #{compsInit,jdbcType=CHAR},
      comps_succ = #{compsSucc,jdbcType=CHAR},
      comps_fail = #{compsFail,jdbcType=CHAR},
      comps_cond = #{compsCond,jdbcType=CHAR},
      in_elem = #{inElem,jdbcType=CHAR},
      out_elem = #{outElem,jdbcType=CHAR},
      grp_id = #{grpId,jdbcType=CHAR},
      crt_user = #{crtUser,jdbcType=CHAR},
      crt_date_time = #{crtDateTime,jdbcType=CHAR},
      lst_mod_user = #{lstModUser,jdbcType=CHAR},
      lst_mod_date_time = #{lstModDateTime,jdbcType=CHAR}
    where project_id = #{projectId,jdbcType=CHAR}
      and bus_id = #{busId,jdbcType=CHAR}
      and sub_bus_id = #{subBusId,jdbcType=CHAR}
  </update>
</mapper>