<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.jfBuilder.dao.EstSvcRuleDefMapper" >
  <resultMap id="BaseResultMap" type="com.adtec.entity.EstSvcRuleDef" >
    <id column="svc_id" property="svcId" jdbcType="CHAR" />
    <result column="svr_id" property="svrId" jdbcType="CHAR" />
    <result column="svc_name" property="svcName" jdbcType="CHAR" />
    <result column="project_id" property="projectId" jdbcType="CHAR" />
    <result column="env_id" property="envId" jdbcType="CHAR" />
    <result column="svc_desc" property="svcDesc" jdbcType="VARCHAR" />
    <result column="tran_num_ref" property="tranNumRef" jdbcType="INTEGER" />
    <result column="tran_timeout_num" property="tranTimeoutNum" jdbcType="VARCHAR" />
    <result column="timeout_ctrl_time" property="timeoutCtrlTime" jdbcType="INTEGER" />
    <result column="flow_num" property="flowNum" jdbcType="VARCHAR" />
    <result column="cloud_project_id" property="cloudProjectId" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    svc_id, svr_id, svc_name, project_id, env_id, svc_desc, tran_num_ref, tran_timeout_num, 
    timeout_ctrl_time, flow_num, cloud_project_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from est_svc_rule_def
    where svc_id = #{svcId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from est_svc_rule_def
    where svc_id = #{svcId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.adtec.entity.EstSvcRuleDef" >
    insert into est_svc_rule_def (svc_id, svr_id, svc_name, 
      project_id, env_id, svc_desc, 
      tran_num_ref, tran_timeout_num, timeout_ctrl_time, 
      flow_num, cloud_project_id)
    values (#{svcId,jdbcType=CHAR}, #{svrId,jdbcType=CHAR}, #{svcName,jdbcType=CHAR}, 
      #{projectId,jdbcType=CHAR}, #{envId,jdbcType=CHAR}, #{svcDesc,jdbcType=VARCHAR}, 
      #{tranNumRef,jdbcType=INTEGER}, #{tranTimeoutNum,jdbcType=VARCHAR}, #{timeoutCtrlTime,jdbcType=INTEGER}, 
      #{flowNum,jdbcType=VARCHAR}, #{cloudProjectId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.adtec.entity.EstSvcRuleDef" >
    insert into est_svc_rule_def
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="svcId != null" >
        svc_id,
      </if>
      <if test="svrId != null" >
        svr_id,
      </if>
      <if test="svcName != null" >
        svc_name,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="envId != null" >
        env_id,
      </if>
      <if test="svcDesc != null" >
        svc_desc,
      </if>
      <if test="tranNumRef != null" >
        tran_num_ref,
      </if>
      <if test="tranTimeoutNum != null" >
        tran_timeout_num,
      </if>
      <if test="timeoutCtrlTime != null" >
        timeout_ctrl_time,
      </if>
      <if test="flowNum != null" >
        flow_num,
      </if>
      <if test="cloudProjectId != null" >
        cloud_project_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="svcId != null" >
        #{svcId,jdbcType=CHAR},
      </if>
      <if test="svrId != null" >
        #{svrId,jdbcType=CHAR},
      </if>
      <if test="svcName != null" >
        #{svcName,jdbcType=CHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=CHAR},
      </if>
      <if test="envId != null" >
        #{envId,jdbcType=CHAR},
      </if>
      <if test="svcDesc != null" >
        #{svcDesc,jdbcType=VARCHAR},
      </if>
      <if test="tranNumRef != null" >
        #{tranNumRef,jdbcType=INTEGER},
      </if>
      <if test="tranTimeoutNum != null" >
        #{tranTimeoutNum,jdbcType=VARCHAR},
      </if>
      <if test="timeoutCtrlTime != null" >
        #{timeoutCtrlTime,jdbcType=INTEGER},
      </if>
      <if test="flowNum != null" >
        #{flowNum,jdbcType=VARCHAR},
      </if>
      <if test="cloudProjectId != null" >
        #{cloudProjectId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adtec.entity.EstSvcRuleDef" >
    update est_svc_rule_def
    <set >
      <if test="svrId != null" >
        svr_id = #{svrId,jdbcType=CHAR},
      </if>
      <if test="svcName != null" >
        svc_name = #{svcName,jdbcType=CHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=CHAR},
      </if>
      <if test="envId != null" >
        env_id = #{envId,jdbcType=CHAR},
      </if>
      <if test="svcDesc != null" >
        svc_desc = #{svcDesc,jdbcType=VARCHAR},
      </if>
      <if test="tranNumRef != null" >
        tran_num_ref = #{tranNumRef,jdbcType=INTEGER},
      </if>
      <if test="tranTimeoutNum != null" >
        tran_timeout_num = #{tranTimeoutNum,jdbcType=VARCHAR},
      </if>
      <if test="timeoutCtrlTime != null" >
        timeout_ctrl_time = #{timeoutCtrlTime,jdbcType=INTEGER},
      </if>
      <if test="flowNum != null" >
        flow_num = #{flowNum,jdbcType=VARCHAR},
      </if>
      <if test="cloudProjectId != null" >
        cloud_project_id = #{cloudProjectId,jdbcType=CHAR},
      </if>
    </set>
    where svc_id = #{svcId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adtec.entity.EstSvcRuleDef" >
    update est_svc_rule_def
    set svr_id = #{svrId,jdbcType=CHAR},
      svc_name = #{svcName,jdbcType=CHAR},
      project_id = #{projectId,jdbcType=CHAR},
      env_id = #{envId,jdbcType=CHAR},
      svc_desc = #{svcDesc,jdbcType=VARCHAR},
      tran_num_ref = #{tranNumRef,jdbcType=INTEGER},
      tran_timeout_num = #{tranTimeoutNum,jdbcType=VARCHAR},
      timeout_ctrl_time = #{timeoutCtrlTime,jdbcType=INTEGER},
      flow_num = #{flowNum,jdbcType=VARCHAR},
      cloud_project_id = #{cloudProjectId,jdbcType=CHAR}
    where svc_id = #{svcId,jdbcType=CHAR}
  </update>
</mapper>