<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.jfBuilder.dao.EstSvcLogicMapper" >
  <resultMap id="BaseResultMap" type="com.adtec.entity.EstSvcLogic" >
    <id column="service_id" property="serviceId" jdbcType="CHAR" />
    <result column="project_id" property="projectId" jdbcType="CHAR" />
    <result column="relation_id" property="relationId" jdbcType="CHAR" />
    <result column="svc_type" property="svcType" jdbcType="CHAR" />
    <result column="svc_name" property="svcName" jdbcType="CHAR" />
    <result column="svc_desc" property="svcDesc" jdbcType="VARCHAR" />
    <result column="load_parm" property="loadParm" jdbcType="SMALLINT" />
    <result column="svc_prio" property="svcPrio" jdbcType="SMALLINT" />
    <result column="timeout" property="timeout" jdbcType="SMALLINT" />
    <result column="dest_timeout" property="destTimeout" jdbcType="CHAR" />
    <result column="revs_seq" property="revsSeq" jdbcType="CHAR" />
    <result column="trans_flag" property="transFlag" jdbcType="SMALLINT" />
    <result column="revs_flag" property="revsFlag" jdbcType="CHAR" />
    <result column="revs_svc_name" property="revsSvcName" jdbcType="CHAR" />
    <result column="revs_init" property="revsInit" jdbcType="CHAR" />
    <result column="revs_succ" property="revsSucc" jdbcType="CHAR" />
    <result column="revs_fail" property="revsFail" jdbcType="CHAR" />
    <result column="busi_jrnl_proc" property="busiJrnlProc" jdbcType="CHAR" />
    <result column="revs_dta_type" property="revsDtaType" jdbcType="CHAR" />
    <result column="revs_dta_id" property="revsDtaId" jdbcType="CHAR" />
    <result column="comps_flag" property="compsFlag" jdbcType="CHAR" />
    <result column="comps_seq" property="compsSeq" jdbcType="CHAR" />
    <result column="comps_svc_name" property="compsSvcName" jdbcType="CHAR" />
    <result column="comps_init" property="compsInit" jdbcType="CHAR" />
    <result column="comps_succ" property="compsSucc" jdbcType="CHAR" />
    <result column="comps_fail" property="compsFail" jdbcType="CHAR" />
    <result column="comps_dta_type" property="compsDtaType" jdbcType="CHAR" />
    <result column="comps_dta_id" property="compsDtaId" jdbcType="CHAR" />
    <result column="flow_expr" property="flowExpr" jdbcType="CHAR" />
    <result column="svc_succ_proc" property="svcSuccProc" jdbcType="CHAR" />
    <result column="svc_lost_proc" property="svcLostProc" jdbcType="CHAR" />
    <result column="svc_pre_proc" property="svcPreProc" jdbcType="CHAR" />
    <result column="svc_end_pre_proc" property="svcEndPreProc" jdbcType="CHAR" />
    <result column="resource_id" property="resourceId" jdbcType="CHAR" />
    <result column="grp_id" property="grpId" jdbcType="CHAR" />
    <result column="crt_user" property="crtUser" jdbcType="CHAR" />
    <result column="crt_date_time" property="crtDateTime" jdbcType="CHAR" />
    <result column="lst_mod_user" property="lstModUser" jdbcType="CHAR" />
    <result column="lst_mod_date_time" property="lstModDateTime" jdbcType="CHAR" />
    <result column="form_in" property="formIn" jdbcType="CHAR" />
    <result column="form_out" property="formOut" jdbcType="CHAR" />
    <result column="meger_flag" property="megerFlag" jdbcType="CHAR" />
    <result column="in_elem_id" property="inElemId" jdbcType="CHAR" />
    <result column="out_elem_id" property="outElemId" jdbcType="CHAR" />
    <result column="local_call" property="localCall" jdbcType="CHAR" />
    <result column="remote_call" property="remoteCall" jdbcType="CHAR" />
    <result column="ds_alias" property="dsAlias" jdbcType="CHAR" />
    <result column="auto_crt" property="autoCrt" jdbcType="CHAR" />
    <result column="derive_expr" property="deriveExpr" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    service_id, project_id, relation_id, svc_type, svc_name, svc_desc, load_parm, svc_prio, 
    timeout, dest_timeout, revs_seq, trans_flag, revs_flag, revs_svc_name, revs_init, 
    revs_succ, revs_fail, busi_jrnl_proc, revs_dta_type, revs_dta_id, comps_flag, comps_seq, 
    comps_svc_name, comps_init, comps_succ, comps_fail, comps_dta_type, comps_dta_id, 
    flow_expr, svc_succ_proc, svc_lost_proc, svc_pre_proc, svc_end_pre_proc, resource_id, 
    grp_id, crt_user, crt_date_time, lst_mod_user, lst_mod_date_time, form_in, form_out, 
    meger_flag, in_elem_id, out_elem_id, local_call, remote_call, ds_alias, auto_crt, 
    derive_expr
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from est_svc_logic
    where service_id = #{serviceId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from est_svc_logic
    where service_id = #{serviceId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.adtec.entity.EstSvcLogic" >
    insert into est_svc_logic (service_id, project_id, relation_id, 
      svc_type, svc_name, svc_desc, 
      load_parm, svc_prio, timeout, 
      dest_timeout, revs_seq, trans_flag, 
      revs_flag, revs_svc_name, revs_init, 
      revs_succ, revs_fail, busi_jrnl_proc, 
      revs_dta_type, revs_dta_id, comps_flag, 
      comps_seq, comps_svc_name, comps_init, 
      comps_succ, comps_fail, comps_dta_type, 
      comps_dta_id, flow_expr, svc_succ_proc, 
      svc_lost_proc, svc_pre_proc, svc_end_pre_proc, 
      resource_id, grp_id, crt_user, 
      crt_date_time, lst_mod_user, lst_mod_date_time, 
      form_in, form_out, meger_flag, 
      in_elem_id, out_elem_id, local_call, 
      remote_call, ds_alias, auto_crt, 
      derive_expr)
    values (#{serviceId,jdbcType=CHAR}, #{projectId,jdbcType=CHAR}, #{relationId,jdbcType=CHAR}, 
      #{svcType,jdbcType=CHAR}, #{svcName,jdbcType=CHAR}, #{svcDesc,jdbcType=VARCHAR}, 
      #{loadParm,jdbcType=SMALLINT}, #{svcPrio,jdbcType=SMALLINT}, #{timeout,jdbcType=SMALLINT}, 
      #{destTimeout,jdbcType=CHAR}, #{revsSeq,jdbcType=CHAR}, #{transFlag,jdbcType=SMALLINT}, 
      #{revsFlag,jdbcType=CHAR}, #{revsSvcName,jdbcType=CHAR}, #{revsInit,jdbcType=CHAR}, 
      #{revsSucc,jdbcType=CHAR}, #{revsFail,jdbcType=CHAR}, #{busiJrnlProc,jdbcType=CHAR}, 
      #{revsDtaType,jdbcType=CHAR}, #{revsDtaId,jdbcType=CHAR}, #{compsFlag,jdbcType=CHAR}, 
      #{compsSeq,jdbcType=CHAR}, #{compsSvcName,jdbcType=CHAR}, #{compsInit,jdbcType=CHAR}, 
      #{compsSucc,jdbcType=CHAR}, #{compsFail,jdbcType=CHAR}, #{compsDtaType,jdbcType=CHAR}, 
      #{compsDtaId,jdbcType=CHAR}, #{flowExpr,jdbcType=CHAR}, #{svcSuccProc,jdbcType=CHAR}, 
      #{svcLostProc,jdbcType=CHAR}, #{svcPreProc,jdbcType=CHAR}, #{svcEndPreProc,jdbcType=CHAR}, 
      #{resourceId,jdbcType=CHAR}, #{grpId,jdbcType=CHAR}, #{crtUser,jdbcType=CHAR}, 
      #{crtDateTime,jdbcType=CHAR}, #{lstModUser,jdbcType=CHAR}, #{lstModDateTime,jdbcType=CHAR}, 
      #{formIn,jdbcType=CHAR}, #{formOut,jdbcType=CHAR}, #{megerFlag,jdbcType=CHAR}, 
      #{inElemId,jdbcType=CHAR}, #{outElemId,jdbcType=CHAR}, #{localCall,jdbcType=CHAR}, 
      #{remoteCall,jdbcType=CHAR}, #{dsAlias,jdbcType=CHAR}, #{autoCrt,jdbcType=CHAR}, 
      #{deriveExpr,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.adtec.entity.EstSvcLogic" >
    insert into est_svc_logic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serviceId != null" >
        service_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="relationId != null" >
        relation_id,
      </if>
      <if test="svcType != null" >
        svc_type,
      </if>
      <if test="svcName != null" >
        svc_name,
      </if>
      <if test="svcDesc != null" >
        svc_desc,
      </if>
      <if test="loadParm != null" >
        load_parm,
      </if>
      <if test="svcPrio != null" >
        svc_prio,
      </if>
      <if test="timeout != null" >
        timeout,
      </if>
      <if test="destTimeout != null" >
        dest_timeout,
      </if>
      <if test="revsSeq != null" >
        revs_seq,
      </if>
      <if test="transFlag != null" >
        trans_flag,
      </if>
      <if test="revsFlag != null" >
        revs_flag,
      </if>
      <if test="revsSvcName != null" >
        revs_svc_name,
      </if>
      <if test="revsInit != null" >
        revs_init,
      </if>
      <if test="revsSucc != null" >
        revs_succ,
      </if>
      <if test="revsFail != null" >
        revs_fail,
      </if>
      <if test="busiJrnlProc != null" >
        busi_jrnl_proc,
      </if>
      <if test="revsDtaType != null" >
        revs_dta_type,
      </if>
      <if test="revsDtaId != null" >
        revs_dta_id,
      </if>
      <if test="compsFlag != null" >
        comps_flag,
      </if>
      <if test="compsSeq != null" >
        comps_seq,
      </if>
      <if test="compsSvcName != null" >
        comps_svc_name,
      </if>
      <if test="compsInit != null" >
        comps_init,
      </if>
      <if test="compsSucc != null" >
        comps_succ,
      </if>
      <if test="compsFail != null" >
        comps_fail,
      </if>
      <if test="compsDtaType != null" >
        comps_dta_type,
      </if>
      <if test="compsDtaId != null" >
        comps_dta_id,
      </if>
      <if test="flowExpr != null" >
        flow_expr,
      </if>
      <if test="svcSuccProc != null" >
        svc_succ_proc,
      </if>
      <if test="svcLostProc != null" >
        svc_lost_proc,
      </if>
      <if test="svcPreProc != null" >
        svc_pre_proc,
      </if>
      <if test="svcEndPreProc != null" >
        svc_end_pre_proc,
      </if>
      <if test="resourceId != null" >
        resource_id,
      </if>
      <if test="grpId != null" >
        grp_id,
      </if>
      <if test="crtUser != null" >
        crt_user,
      </if>
      <if test="crtDateTime != null" >
        crt_date_time,
      </if>
      <if test="lstModUser != null" >
        lst_mod_user,
      </if>
      <if test="lstModDateTime != null" >
        lst_mod_date_time,
      </if>
      <if test="formIn != null" >
        form_in,
      </if>
      <if test="formOut != null" >
        form_out,
      </if>
      <if test="megerFlag != null" >
        meger_flag,
      </if>
      <if test="inElemId != null" >
        in_elem_id,
      </if>
      <if test="outElemId != null" >
        out_elem_id,
      </if>
      <if test="localCall != null" >
        local_call,
      </if>
      <if test="remoteCall != null" >
        remote_call,
      </if>
      <if test="dsAlias != null" >
        ds_alias,
      </if>
      <if test="autoCrt != null" >
        auto_crt,
      </if>
      <if test="deriveExpr != null" >
        derive_expr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serviceId != null" >
        #{serviceId,jdbcType=CHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=CHAR},
      </if>
      <if test="relationId != null" >
        #{relationId,jdbcType=CHAR},
      </if>
      <if test="svcType != null" >
        #{svcType,jdbcType=CHAR},
      </if>
      <if test="svcName != null" >
        #{svcName,jdbcType=CHAR},
      </if>
      <if test="svcDesc != null" >
        #{svcDesc,jdbcType=VARCHAR},
      </if>
      <if test="loadParm != null" >
        #{loadParm,jdbcType=SMALLINT},
      </if>
      <if test="svcPrio != null" >
        #{svcPrio,jdbcType=SMALLINT},
      </if>
      <if test="timeout != null" >
        #{timeout,jdbcType=SMALLINT},
      </if>
      <if test="destTimeout != null" >
        #{destTimeout,jdbcType=CHAR},
      </if>
      <if test="revsSeq != null" >
        #{revsSeq,jdbcType=CHAR},
      </if>
      <if test="transFlag != null" >
        #{transFlag,jdbcType=SMALLINT},
      </if>
      <if test="revsFlag != null" >
        #{revsFlag,jdbcType=CHAR},
      </if>
      <if test="revsSvcName != null" >
        #{revsSvcName,jdbcType=CHAR},
      </if>
      <if test="revsInit != null" >
        #{revsInit,jdbcType=CHAR},
      </if>
      <if test="revsSucc != null" >
        #{revsSucc,jdbcType=CHAR},
      </if>
      <if test="revsFail != null" >
        #{revsFail,jdbcType=CHAR},
      </if>
      <if test="busiJrnlProc != null" >
        #{busiJrnlProc,jdbcType=CHAR},
      </if>
      <if test="revsDtaType != null" >
        #{revsDtaType,jdbcType=CHAR},
      </if>
      <if test="revsDtaId != null" >
        #{revsDtaId,jdbcType=CHAR},
      </if>
      <if test="compsFlag != null" >
        #{compsFlag,jdbcType=CHAR},
      </if>
      <if test="compsSeq != null" >
        #{compsSeq,jdbcType=CHAR},
      </if>
      <if test="compsSvcName != null" >
        #{compsSvcName,jdbcType=CHAR},
      </if>
      <if test="compsInit != null" >
        #{compsInit,jdbcType=CHAR},
      </if>
      <if test="compsSucc != null" >
        #{compsSucc,jdbcType=CHAR},
      </if>
      <if test="compsFail != null" >
        #{compsFail,jdbcType=CHAR},
      </if>
      <if test="compsDtaType != null" >
        #{compsDtaType,jdbcType=CHAR},
      </if>
      <if test="compsDtaId != null" >
        #{compsDtaId,jdbcType=CHAR},
      </if>
      <if test="flowExpr != null" >
        #{flowExpr,jdbcType=CHAR},
      </if>
      <if test="svcSuccProc != null" >
        #{svcSuccProc,jdbcType=CHAR},
      </if>
      <if test="svcLostProc != null" >
        #{svcLostProc,jdbcType=CHAR},
      </if>
      <if test="svcPreProc != null" >
        #{svcPreProc,jdbcType=CHAR},
      </if>
      <if test="svcEndPreProc != null" >
        #{svcEndPreProc,jdbcType=CHAR},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=CHAR},
      </if>
      <if test="grpId != null" >
        #{grpId,jdbcType=CHAR},
      </if>
      <if test="crtUser != null" >
        #{crtUser,jdbcType=CHAR},
      </if>
      <if test="crtDateTime != null" >
        #{crtDateTime,jdbcType=CHAR},
      </if>
      <if test="lstModUser != null" >
        #{lstModUser,jdbcType=CHAR},
      </if>
      <if test="lstModDateTime != null" >
        #{lstModDateTime,jdbcType=CHAR},
      </if>
      <if test="formIn != null" >
        #{formIn,jdbcType=CHAR},
      </if>
      <if test="formOut != null" >
        #{formOut,jdbcType=CHAR},
      </if>
      <if test="megerFlag != null" >
        #{megerFlag,jdbcType=CHAR},
      </if>
      <if test="inElemId != null" >
        #{inElemId,jdbcType=CHAR},
      </if>
      <if test="outElemId != null" >
        #{outElemId,jdbcType=CHAR},
      </if>
      <if test="localCall != null" >
        #{localCall,jdbcType=CHAR},
      </if>
      <if test="remoteCall != null" >
        #{remoteCall,jdbcType=CHAR},
      </if>
      <if test="dsAlias != null" >
        #{dsAlias,jdbcType=CHAR},
      </if>
      <if test="autoCrt != null" >
        #{autoCrt,jdbcType=CHAR},
      </if>
      <if test="deriveExpr != null" >
        #{deriveExpr,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adtec.entity.EstSvcLogic" >
    update est_svc_logic
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=CHAR},
      </if>
      <if test="relationId != null" >
        relation_id = #{relationId,jdbcType=CHAR},
      </if>
      <if test="svcType != null" >
        svc_type = #{svcType,jdbcType=CHAR},
      </if>
      <if test="svcName != null" >
        svc_name = #{svcName,jdbcType=CHAR},
      </if>
      <if test="svcDesc != null" >
        svc_desc = #{svcDesc,jdbcType=VARCHAR},
      </if>
      <if test="loadParm != null" >
        load_parm = #{loadParm,jdbcType=SMALLINT},
      </if>
      <if test="svcPrio != null" >
        svc_prio = #{svcPrio,jdbcType=SMALLINT},
      </if>
      <if test="timeout != null" >
        timeout = #{timeout,jdbcType=SMALLINT},
      </if>
      <if test="destTimeout != null" >
        dest_timeout = #{destTimeout,jdbcType=CHAR},
      </if>
      <if test="revsSeq != null" >
        revs_seq = #{revsSeq,jdbcType=CHAR},
      </if>
      <if test="transFlag != null" >
        trans_flag = #{transFlag,jdbcType=SMALLINT},
      </if>
      <if test="revsFlag != null" >
        revs_flag = #{revsFlag,jdbcType=CHAR},
      </if>
      <if test="revsSvcName != null" >
        revs_svc_name = #{revsSvcName,jdbcType=CHAR},
      </if>
      <if test="revsInit != null" >
        revs_init = #{revsInit,jdbcType=CHAR},
      </if>
      <if test="revsSucc != null" >
        revs_succ = #{revsSucc,jdbcType=CHAR},
      </if>
      <if test="revsFail != null" >
        revs_fail = #{revsFail,jdbcType=CHAR},
      </if>
      <if test="busiJrnlProc != null" >
        busi_jrnl_proc = #{busiJrnlProc,jdbcType=CHAR},
      </if>
      <if test="revsDtaType != null" >
        revs_dta_type = #{revsDtaType,jdbcType=CHAR},
      </if>
      <if test="revsDtaId != null" >
        revs_dta_id = #{revsDtaId,jdbcType=CHAR},
      </if>
      <if test="compsFlag != null" >
        comps_flag = #{compsFlag,jdbcType=CHAR},
      </if>
      <if test="compsSeq != null" >
        comps_seq = #{compsSeq,jdbcType=CHAR},
      </if>
      <if test="compsSvcName != null" >
        comps_svc_name = #{compsSvcName,jdbcType=CHAR},
      </if>
      <if test="compsInit != null" >
        comps_init = #{compsInit,jdbcType=CHAR},
      </if>
      <if test="compsSucc != null" >
        comps_succ = #{compsSucc,jdbcType=CHAR},
      </if>
      <if test="compsFail != null" >
        comps_fail = #{compsFail,jdbcType=CHAR},
      </if>
      <if test="compsDtaType != null" >
        comps_dta_type = #{compsDtaType,jdbcType=CHAR},
      </if>
      <if test="compsDtaId != null" >
        comps_dta_id = #{compsDtaId,jdbcType=CHAR},
      </if>
      <if test="flowExpr != null" >
        flow_expr = #{flowExpr,jdbcType=CHAR},
      </if>
      <if test="svcSuccProc != null" >
        svc_succ_proc = #{svcSuccProc,jdbcType=CHAR},
      </if>
      <if test="svcLostProc != null" >
        svc_lost_proc = #{svcLostProc,jdbcType=CHAR},
      </if>
      <if test="svcPreProc != null" >
        svc_pre_proc = #{svcPreProc,jdbcType=CHAR},
      </if>
      <if test="svcEndPreProc != null" >
        svc_end_pre_proc = #{svcEndPreProc,jdbcType=CHAR},
      </if>
      <if test="resourceId != null" >
        resource_id = #{resourceId,jdbcType=CHAR},
      </if>
      <if test="grpId != null" >
        grp_id = #{grpId,jdbcType=CHAR},
      </if>
      <if test="crtUser != null" >
        crt_user = #{crtUser,jdbcType=CHAR},
      </if>
      <if test="crtDateTime != null" >
        crt_date_time = #{crtDateTime,jdbcType=CHAR},
      </if>
      <if test="lstModUser != null" >
        lst_mod_user = #{lstModUser,jdbcType=CHAR},
      </if>
      <if test="lstModDateTime != null" >
        lst_mod_date_time = #{lstModDateTime,jdbcType=CHAR},
      </if>
      <if test="formIn != null" >
        form_in = #{formIn,jdbcType=CHAR},
      </if>
      <if test="formOut != null" >
        form_out = #{formOut,jdbcType=CHAR},
      </if>
      <if test="megerFlag != null" >
        meger_flag = #{megerFlag,jdbcType=CHAR},
      </if>
      <if test="inElemId != null" >
        in_elem_id = #{inElemId,jdbcType=CHAR},
      </if>
      <if test="outElemId != null" >
        out_elem_id = #{outElemId,jdbcType=CHAR},
      </if>
      <if test="localCall != null" >
        local_call = #{localCall,jdbcType=CHAR},
      </if>
      <if test="remoteCall != null" >
        remote_call = #{remoteCall,jdbcType=CHAR},
      </if>
      <if test="dsAlias != null" >
        ds_alias = #{dsAlias,jdbcType=CHAR},
      </if>
      <if test="autoCrt != null" >
        auto_crt = #{autoCrt,jdbcType=CHAR},
      </if>
      <if test="deriveExpr != null" >
        derive_expr = #{deriveExpr,jdbcType=CHAR},
      </if>
    </set>
    where service_id = #{serviceId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adtec.entity.EstSvcLogic" >
    update est_svc_logic
    set project_id = #{projectId,jdbcType=CHAR},
      relation_id = #{relationId,jdbcType=CHAR},
      svc_type = #{svcType,jdbcType=CHAR},
      svc_name = #{svcName,jdbcType=CHAR},
      svc_desc = #{svcDesc,jdbcType=VARCHAR},
      load_parm = #{loadParm,jdbcType=SMALLINT},
      svc_prio = #{svcPrio,jdbcType=SMALLINT},
      timeout = #{timeout,jdbcType=SMALLINT},
      dest_timeout = #{destTimeout,jdbcType=CHAR},
      revs_seq = #{revsSeq,jdbcType=CHAR},
      trans_flag = #{transFlag,jdbcType=SMALLINT},
      revs_flag = #{revsFlag,jdbcType=CHAR},
      revs_svc_name = #{revsSvcName,jdbcType=CHAR},
      revs_init = #{revsInit,jdbcType=CHAR},
      revs_succ = #{revsSucc,jdbcType=CHAR},
      revs_fail = #{revsFail,jdbcType=CHAR},
      busi_jrnl_proc = #{busiJrnlProc,jdbcType=CHAR},
      revs_dta_type = #{revsDtaType,jdbcType=CHAR},
      revs_dta_id = #{revsDtaId,jdbcType=CHAR},
      comps_flag = #{compsFlag,jdbcType=CHAR},
      comps_seq = #{compsSeq,jdbcType=CHAR},
      comps_svc_name = #{compsSvcName,jdbcType=CHAR},
      comps_init = #{compsInit,jdbcType=CHAR},
      comps_succ = #{compsSucc,jdbcType=CHAR},
      comps_fail = #{compsFail,jdbcType=CHAR},
      comps_dta_type = #{compsDtaType,jdbcType=CHAR},
      comps_dta_id = #{compsDtaId,jdbcType=CHAR},
      flow_expr = #{flowExpr,jdbcType=CHAR},
      svc_succ_proc = #{svcSuccProc,jdbcType=CHAR},
      svc_lost_proc = #{svcLostProc,jdbcType=CHAR},
      svc_pre_proc = #{svcPreProc,jdbcType=CHAR},
      svc_end_pre_proc = #{svcEndPreProc,jdbcType=CHAR},
      resource_id = #{resourceId,jdbcType=CHAR},
      grp_id = #{grpId,jdbcType=CHAR},
      crt_user = #{crtUser,jdbcType=CHAR},
      crt_date_time = #{crtDateTime,jdbcType=CHAR},
      lst_mod_user = #{lstModUser,jdbcType=CHAR},
      lst_mod_date_time = #{lstModDateTime,jdbcType=CHAR},
      form_in = #{formIn,jdbcType=CHAR},
      form_out = #{formOut,jdbcType=CHAR},
      meger_flag = #{megerFlag,jdbcType=CHAR},
      in_elem_id = #{inElemId,jdbcType=CHAR},
      out_elem_id = #{outElemId,jdbcType=CHAR},
      local_call = #{localCall,jdbcType=CHAR},
      remote_call = #{remoteCall,jdbcType=CHAR},
      ds_alias = #{dsAlias,jdbcType=CHAR},
      auto_crt = #{autoCrt,jdbcType=CHAR},
      derive_expr = #{deriveExpr,jdbcType=CHAR}
    where service_id = #{serviceId,jdbcType=CHAR}
  </update>
</mapper>