<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.jfBuilder.dao.EstSignItemMapper" >
  <resultMap id="BaseResultMap" type="com.adtec.entity.EstSignItem" >
    <result column="fmt_id" property="fmtId" jdbcType="CHAR" />
    <result column="item_idx" property="itemIdx" jdbcType="INTEGER" />
    <result column="item_sign_name" property="itemSignName" jdbcType="CHAR" />
    <result column="item_desc" property="itemDesc" jdbcType="VARCHAR" />
    <result column="elem_id" property="elemId" jdbcType="CHAR" />
    <result column="sign_build_expr" property="signBuildExpr" jdbcType="CHAR" />
    <result column="sign_parse_expr" property="signParseExpr" jdbcType="CHAR" />
    <result column="ascii_flag" property="asciiFlag" jdbcType="CHAR" />
    <result column="dec_locale" property="decLocale" jdbcType="INTEGER" />
    <result column="fix_flag" property="fixFlag" jdbcType="CHAR" />
    <result column="length" property="length" jdbcType="CHAR" />
    <result column="item_fill" property="itemFill" jdbcType="CHAR" />
    <result column="item_adj" property="itemAdj" jdbcType="CHAR" />
    <result column="lendata_flag" property="lendataFlag" jdbcType="CHAR" />
    <result column="lendata_bytes" property="lendataBytes" jdbcType="INTEGER" />
    <result column="lendata_build_expr" property="lendataBuildExpr" jdbcType="CHAR" />
    <result column="lendata_parse_expr" property="lendataParseExpr" jdbcType="CHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.adtec.entity.EstSignItem" >
    insert into est_sign_item (fmt_id, item_idx, item_sign_name, 
      item_desc, elem_id, sign_build_expr, 
      sign_parse_expr, ascii_flag, dec_locale, 
      fix_flag, length, item_fill, item_adj, 
      lendata_flag, lendata_bytes, lendata_build_expr, 
      lendata_parse_expr)
    values (#{fmtId,jdbcType=CHAR}, #{itemIdx,jdbcType=INTEGER}, #{itemSignName,jdbcType=CHAR}, 
      #{itemDesc,jdbcType=VARCHAR}, #{elemId,jdbcType=CHAR}, #{signBuildExpr,jdbcType=CHAR}, 
      #{signParseExpr,jdbcType=CHAR}, #{asciiFlag,jdbcType=CHAR}, #{decLocale,jdbcType=INTEGER}, 
      #{fixFlag,jdbcType=CHAR}, #{length,jdbcType=CHAR}, #{itemFill,jdbcType=CHAR}, #{itemAdj,jdbcType=CHAR}, 
      #{lendataFlag,jdbcType=CHAR}, #{lendataBytes,jdbcType=INTEGER}, #{lendataBuildExpr,jdbcType=CHAR}, 
      #{lendataParseExpr,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.adtec.entity.EstSignItem" >
    insert into est_sign_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fmtId != null" >
        fmt_id,
      </if>
      <if test="itemIdx != null" >
        item_idx,
      </if>
      <if test="itemSignName != null" >
        item_sign_name,
      </if>
      <if test="itemDesc != null" >
        item_desc,
      </if>
      <if test="elemId != null" >
        elem_id,
      </if>
      <if test="signBuildExpr != null" >
        sign_build_expr,
      </if>
      <if test="signParseExpr != null" >
        sign_parse_expr,
      </if>
      <if test="asciiFlag != null" >
        ascii_flag,
      </if>
      <if test="decLocale != null" >
        dec_locale,
      </if>
      <if test="fixFlag != null" >
        fix_flag,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="itemFill != null" >
        item_fill,
      </if>
      <if test="itemAdj != null" >
        item_adj,
      </if>
      <if test="lendataFlag != null" >
        lendata_flag,
      </if>
      <if test="lendataBytes != null" >
        lendata_bytes,
      </if>
      <if test="lendataBuildExpr != null" >
        lendata_build_expr,
      </if>
      <if test="lendataParseExpr != null" >
        lendata_parse_expr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fmtId != null" >
        #{fmtId,jdbcType=CHAR},
      </if>
      <if test="itemIdx != null" >
        #{itemIdx,jdbcType=INTEGER},
      </if>
      <if test="itemSignName != null" >
        #{itemSignName,jdbcType=CHAR},
      </if>
      <if test="itemDesc != null" >
        #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="elemId != null" >
        #{elemId,jdbcType=CHAR},
      </if>
      <if test="signBuildExpr != null" >
        #{signBuildExpr,jdbcType=CHAR},
      </if>
      <if test="signParseExpr != null" >
        #{signParseExpr,jdbcType=CHAR},
      </if>
      <if test="asciiFlag != null" >
        #{asciiFlag,jdbcType=CHAR},
      </if>
      <if test="decLocale != null" >
        #{decLocale,jdbcType=INTEGER},
      </if>
      <if test="fixFlag != null" >
        #{fixFlag,jdbcType=CHAR},
      </if>
      <if test="length != null" >
        #{length,jdbcType=CHAR},
      </if>
      <if test="itemFill != null" >
        #{itemFill,jdbcType=CHAR},
      </if>
      <if test="itemAdj != null" >
        #{itemAdj,jdbcType=CHAR},
      </if>
      <if test="lendataFlag != null" >
        #{lendataFlag,jdbcType=CHAR},
      </if>
      <if test="lendataBytes != null" >
        #{lendataBytes,jdbcType=INTEGER},
      </if>
      <if test="lendataBuildExpr != null" >
        #{lendataBuildExpr,jdbcType=CHAR},
      </if>
      <if test="lendataParseExpr != null" >
        #{lendataParseExpr,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>