<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.jfBuilder.dao.EstTypeMngMapper" >
  <resultMap id="BaseResultMap" type="com.adtec.entity.EstTypeMngKey" >
    <id column="type_flag" property="typeFlag" jdbcType="CHAR" />
    <id column="acronym_name" property="acronymName" jdbcType="VARCHAR" />
    <id column="full_name" property="fullName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.adtec.entity.EstTypeMngKey" >
    delete from est_type_mng
    where type_flag = #{typeFlag,jdbcType=CHAR}
      and acronym_name = #{acronymName,jdbcType=VARCHAR}
      and full_name = #{fullName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.adtec.entity.EstTypeMngKey" >
    insert into est_type_mng (type_flag, acronym_name, full_name
      )
    values (#{typeFlag,jdbcType=CHAR}, #{acronymName,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.adtec.entity.EstTypeMngKey" >
    insert into est_type_mng
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeFlag != null" >
        type_flag,
      </if>
      <if test="acronymName != null" >
        acronym_name,
      </if>
      <if test="fullName != null" >
        full_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeFlag != null" >
        #{typeFlag,jdbcType=CHAR},
      </if>
      <if test="acronymName != null" >
        #{acronymName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>